

<body>
<nav class="navbar">
  <span><a [routerLink]="'/'">Home</a></span>
  <span><a [routerLink]="'query1'">Query1</a></span>
  <span><a [routerLink]="'query2'">Query2</a></span>
  <span><a [routerLink]="'query3'">Query3</a></span>
  <span><a [routerLink]="'query4'">Query4</a></span>
  <span><a [routerLink]="'query5'">Query5</a></span>
  <span><a [routerLink]="'query6'">Query6</a></span>
  <span><a [routerLink]="'query7'">Query7</a></span>
  <span><a [routerLink]="'query8'">Query8</a></span>
  <span><a [routerLink]="'query9'">Query9</a></span>
  <span><a [routerLink]="'query10'">Query10</a></span>
</nav>
<router-outlet></router-outlet>
</body>



