<div class="container">
  <div class="row">
    <div class="col-4 p-2" style="height: 600px; overflow-y: auto;">
      <div class="card p-2 text-center">
        <h2 class="text-primary text-center">Query 9</h2>
        <ng-container *ngFor="let item of data_all">
          <h4>{{ item.item }}</h4>
          <div *ngFor="let sale of item.sales">
            <p>{{ sale.Division }} - Total Sales: {{ sale.Total_Sales }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
