<div class="container">
  <div class="row">
    <div class="col-4 p-2">
      <div class="card p-2 text-center">
        <h2 class="text-primary text-center">Total Sales in 2015</h2>
        <h6 *ngFor="let data of data_all">
          {{data.Year}} - {{data.total_sales}}
        </h6>
      </div>
    </div>
    <div class="col-8">
      <div class="chart-wrapper">
        <canvas baseChart
                [type]="'bar'"
                [datasets]="chartData"
                [labels]="chartLabels"
                [options]="chartOptions">
        </canvas>
      </div>
    </div>
  </div>
  <div class="card-text">
    <h5>
      Analysis:
    </h5>
    <p>
      This analysis shows the total sales of the Year 2015 in a bar chart.
    </p>
  </div>
</div>
